@use 'variaveis';

.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    .buttons {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
            display: block;
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media (max-width: 769px) {
                max-width: none;
                width: 100%;
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }         //Atraves desse pesudo seletor podemos selecionar um item especifico de algum elemento usando ele.

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }
    
    p {
        text-align: center;
    }
}
